Makefile
*.[oa]

*.exe
*.mak

xcuserdata

live555/mediaServer/live555MediaServer
live555/proxyServer/live555ProxyServer
live555/mediaServer/live555MediaServer

live555/testProgs/testMP3Streamer
live555/testProgs/testMPEG1or2VideoStreamer
live555/testProgs/testMPEG1or2AudioVideoStreamer
live555/testProgs/testMPEG2TransportStreamer

live555/testProgs/receive.aac

.cproject
.project
.settings